*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: rgba(235, 235, 235, 0.74);

  line-height: 1.6;

  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: #141414;
}

body {
  background: #141414;
  transition: background-color 0.4s ease-out;
}

.blue-background {
  background: #09090d;
  transition: background-color 0.4s ease-out;
}

.fixed-navbar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  /*  background: linear-gradient(180deg, #0e1212 3rem, rgba(14, 18, 18, 0)); */
  /*  background: linear-gradient(180deg, #141414 3rem, rgba(14, 18, 18, 0)); */
  /* z-index: 1000;  */ /* Ensure it's on top */
}

/* body {
  background-color: #141414;
  transition: background-color 0.5s;
} */

/* Box on bars */
.separatorBox {
  border-radius: 15px;
  background: #c940eb;
  box-shadow:
    0px 5px 5px 0px #8c5dc9 inset,
    0px 4px 50px 0px #c940eb;
  animation: glow 1.5s infinite alternate; /* Glowing animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #c940eb; /* Initial glow effect */
    /*  width: 48px;
    height: 48px; */
  }
  100% {
    box-shadow: 0 0 30px #c940eb; /* Stronger glow effect */
    /*  width: 52px;
    height: 52px; */
  }
}
