/* body
 min-height: 100vh;
  max-width: 100vw; */

/* I was only using this one
  .secondaryFont {
  font-family: "Aclonica", sans-serif;
} */

/* .darkspace-background {
  background: #070707;
  transition: background-color 0.4s ease-out;
}

.default-background {
  background: #141414;
  transition: background-color 0.4s ease-out;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "Cabinet Grotesk";
  color: #dbdbdb;
}

.secondaryFont {
  font-family: "General Sans";
}

.thirdFont {
  font-family: "Bebas Neue", sans-serif;
}

html {
  background: #0f0e0f;
}

body {
  background: #0f0e0f;
  transition: background-color 0.4s ease-out;
}

.skySpace-background {
  background: #0497d1;
  transition: background-color 0.4s ease-out;
}

.cloudOne,
.cloudTwo {
  /*  transition: opacity 1s ease-in;  */
  transition:
    opacity 1s ease-in,
    opacity 0s ease-out;
}

.balloon {
  transition:
    opacity 1s ease-in,
    opacity 0s ease-out;
}
