*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: rgba(235, 235, 235, 0.74);

  line-height: 1.5;

  /*   font-family: "Poppins", sans-serif; */
  font-family:
    Roboto Mono,
    monospace;

  display: block;
  /*   font-size: 4rem; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: #141414;
  scroll-behavior: smooth;
}

body {
  background: #141414;
  transition: background-color 0.4s ease-out;
}

.darkspace-background {
  background: #070707;
  transition: background-color 0.4s ease-out;
}

.default-background {
  background: #141414;
  transition: background-color 0.4s ease-out;
}

.skySpace-background {
  background: #0497d1;
  transition: background-color 0.4s ease-out;
}

.cloudOne,
.cloudTwo {
  /*  transition: opacity 1s ease-in;  */
  transition:
    opacity 1s ease-in,
    opacity 0s ease-out;
}

.balloon {
  transition:
    opacity 1s ease-in,
    opacity 0s ease-out;
}

/* Box on bars */
.separatorBox {
  border-radius: 15px;
  background: #c940eb;
  box-shadow:
    0px 5px 5px 0px #8c5dc9 inset,
    0px 4px 50px 0px #c940eb;
  animation: glow 1.5s infinite alternate; /* Glowing animation */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #c940eb; /* Initial glow effect */
    /*  width: 48px;
    height: 48px; */
  }
  100% {
    box-shadow: 0 0 30px #c940eb; /* Stronger glow effect */
    /*  width: 52px;
    height: 52px; */
  }
}
