@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
  /* max-width: 1920px; */
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

.hide {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* ======================================= */
.hideNavBar {
  transform: translateY(-100%);
  transition: all 1s;
}

.showNavBar {
  transform: translateY(0%);
}

.hideBannerTitle {
  opacity: 0;
  rotate: 8deg;
  transform: translateY(80%);
  transition: all 0.5s;
}

.showBannerTitle {
  opacity: 1;
  rotate: 0deg;
  transform: translateY(0);
}

.hideBannerSubtitle {
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s;
}

.showBannerSubtitle {
  transform: translateY(0%);
  opacity: 1;
}
/*    opacity: 0; 
   transition: all 1s; */

/*  .hideBannerImage {
   background: repeating-linear-gradient(45deg,#FF6B6B 0 10px,#4ECDC4 0 20px);
  --g: content-box 50% 50%/200% 200% no-repeat;
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(calc(135deg + var(--a,0deg)),#000 50.1%,#0000 0) var(--g),
    linear-gradient(calc(-45deg + var(--a,0deg)),#000 50.1%,#0000 0) var(--g);
  -webkit-mask-composite: xor, source-over;
          mask-composite: exclude, add;
  transition: .5s;
  cursor: pointer; 
}

.showBannerImage {
  -webkit-mask-position: 0% 0%,100% 100%;
}  */

/*  opacity: 1; */

.wrapper {
  position: relative;
  
/*   overflow: hidden; */
}

.hideBannerImage {
/*   position: absolute; */
/*    top: 0;
  left: 0;
  width: 100%;
  height: 100%;  */


 /*  background: repeating-linear-gradient(45deg, #FF6B6B 0 10px, #4ECDC4 0 20px); */
  --g: content-box 50% 50%/200% 200% no-repeat;
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(calc(135deg + var(--a, 0deg)), #000 50.1%, #0000 0) var(--g),
    linear-gradient(calc(-45deg + var(--a, 0deg)), #000 50.1%, #0000 0) var(--g);
  -webkit-mask-composite: xor, source-over;
  mask-composite: exclude, add;
  transition: 0.5s;
  cursor: pointer;
}

.showBannerImage {
  -webkit-mask-position: 0% 0%, 100% 100%;
  
}



/* background: repeating-linear-gradient(45deg,#FF6B6B 0 10px,#4ECDC4 0 20px);
  --g: content-box 50% 50%/200% 200% no-repeat;
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(calc(135deg + var(--a,0deg)),#000 50.1%,#0000 0) var(--g),
    linear-gradient(calc(-45deg + var(--a,0deg)),#000 50.1%,#0000 0) var(--g);
  -webkit-mask-composite: xor, source-over;
          mask-composite: exclude, add;
  transition: .5s;
  cursor: pointer; */

  /*  -webkit-mask-position: 0% 0%,100% 100%; */
/* =================================== */
/* .hideBannerText {
  opacity: 0;
  rotate: 8deg;
  transform: translateY(80%);
  transition: all 0.5s;
}

.showBannerText {
  opacity: 1;
  rotate: 0deg;
  transform: translateY(0);
} */